/* david.CSS 2.11 november 2023 by david remce */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by  david remce git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.david-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.david-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.david-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.david-table,.david-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.david-table-all{border:1px solid #ccc}
.david-bordered tr,.david-table-all tr{border-bottom:1px solid #ddd}.david-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.david-table-all tr:nth-child(odd){background-color:#fff}.david-table-all tr:nth-child(even){background-color:#f1f1f1}
.david-hoverable tbody tr:hover,.david-ul.david-hoverable li:hover{background-color:#ccc}.david-centered tr th,.david-centered tr td{text-align:center}
.david-table td,.david-table th,.david-table-all td,.david-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.david-table th:first-child,.david-table td:first-child,.david-table-all th:first-child,.david-table-all td:first-child{padding-left:16px}
.david-btn,.david-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.david-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.david-btn,.david-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.david-disabled,.david-btn:disabled,.david-button:disabled{cursor:not-allowed;opacity:0.3}.david-disabled *,:disabled *{pointer-events:none}
.david-btn.david-disabled:hover,.david-btn:disabled:hover{box-shadow:none}
.david-badge,.david-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.w3-badge{border-radius:50%}
.david-ul{list-style-type:none;padding:0;margin:0}.david-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.david-ul li:last-child{border-bottom:none}
.david-tooltip,.david-display-container{position:relative}.david-tooltip .david-text{display:none}.david-tooltip:hover .david-text{display:inline-block}
.david-ripple:active{opacity:0.5}.david-ripple{transition:opacity 0s}
.david-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.david-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.david-dropdown-click,.david-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.david-dropdown-hover:hover .david-dropdown-content{display:block}
.david-dropdown-hover:first-child,.david-dropdown-click:hover{background-color:#ccc;color:#000}
.david-dropdown-hover:hover > .david-button:first-child,.david-dropdown-click:hover > .david-button:first-child{background-color:#ccc;color:#000}
.david-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.david-check,.david-radio{width:24px;height:24px;position:relative;top:6px}
.david-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.david-bar-block .david-dropdown-hover,.david-bar-block .david-dropdown-click{width:100%}
.david-bar-block .david-dropdown-hover .david-dropdown-content,.david-bar-block .david-dropdown-click .david-dropdown-content{min-width:100%}
.david-bar-block .david-dropdown-hover .david-button,.david-bar-block .david-dropdown-click .david-button{width:100%;text-align:left;padding:8px 16px}
.david-main,#main{transition:margin-left .4s}
.david-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.david-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.david-bar{width:100%;overflow:hidden}.david-center .david-bar{display:inline-block;width:auto}
.david-bar .david-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.david-bar .david-dropdown-hover,.david-bar .david-dropdown-click{position:static;float:left}
.david-bar .david-button{white-space:normal}
.david-bar-block .david-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.david-bar-block.david-center .david-bar-item{text-align:center}.david-block{display:block;width:100%}
.david-responsive{display:block;overflow-x:auto}
.david-container:after,.david-container:before,.david-panel:after,.david-panel:before,.david-row:after,.david-row:before,.david-row-padding:after,.w3-row-padding:before,
.david-cell-row:before,.david-cell-row:after,.david-clear:after,.david-clear:before,.david-bar:before,.david-bar:after{content:"";display:table;clear:both}
.david-col,.david-half,.david-third,.david-twothird,.david-threequarter,.david-quarter{float:left;width:100%}
.david-col.s1{width:8.33333%}.david-col.s2{width:16.66666%}.david-col.s3{width:24.99999%}.david-col.s4{width:33.33333%}
.david-col.s5{width:41.66666%}.david-col.s6{width:49.99999%}.david-col.s7{width:58.33333%}.david-col.s8{width:66.66666%}
.david-col.s9{width:74.99999%}.david-col.s10{width:83.33333%}.david-col.s11{width:91.66666%}.david-col.s12{width:99.99999%}
@media (min-width:601px){.david-col.m1{width:8.33333%}.david-col.m2{width:16.66666%}.david-col.m3,.david-quarter{width:24.99999%}.w3-col.m4,.w3-third{width:33.33333%}
.david-col.m5{width:41.66666%}.david-col.m6,.david-half{width:49.99999%}.david-col.m7{width:58.33333%}.david-col.m8,.david-twothird{width:66.66666%}
.david-col.m9,.david-threequarter{width:74.99999%}.david-col.m10{width:83.33333%}.david-col.m11{width:91.66666%}.david-col.m12{width:99.99999%}}
@media (min-width:993px){.david-col.l1{width:8.33333%}.david-col.l2{width:16.66666%}.david-col.l3{width:24.99999%}.david-col.l4{width:33.33333%}
.david-col.l5{width:41.66666%}.david-col.l6{width:49.99999%}.david-col.l7{width:58.33333%}.david-col.l8{width:66.66666%}
.david-col.l9{width:74.99999%}.david-col.l10{width:83.33333%}.david-col.l11{width:91.66666%}.david-col.l12{width:99.99999%}}
.david-rest{overflow:hidden}.david-stretch{margin-left:-16px;margin-right:-16px}
.david-content,.david-auto{margin-left:auto;margin-right:auto}.david-content{max-width:980px}.david-auto{max-width:1140px}
.david-cell-row{display:table;width:100%}.david-cell{display:table-cell}
.david-cell-top{vertical-align:top}.david-cell-middle{vertical-align:middle}.david-cell-bottom{vertical-align:bottom}
.david-hide{display:none!important}.david-show-block,.david-show{display:block!important}.david-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.david-auto{max-width:95%}}
@media (max-width:600px){.david-modal-content{margin:0 10px;width:auto!important}.david-modal{padding-top:30px}
.david-dropdown-hover.david-mobile .david-dropdown-content,.david-dropdown-click.david-mobile .david-dropdown-content{position:relative}	
.david-hide-small{display:none!important}.david-mobile{display:block;width:100%!important}.david-bar-item.david-mobile,.david-dropdown-hover.w3-mobile,.w3-dropdown-click.w3-mobile{text-align:center}
.david-dropdown-hover.david-mobile,.david-dropdown-hover.david-mobile .david-btn,.david-dropdown-hover.david-mobile .david-button,.daviddropdown-click.w3-mobile,.w3-dropdown-click.w3-mobile .w3-btn,.w3-dropdown-click.w3-mobile .w3-button{width:100%}}
@media (max-width:768px){.david-modal-content{width:500px}.david-modal{padding-top:50px}}
@media (min-width:993px){.david-modal-content{width:900px}.david-hide-large{display:none!important}.david-sidebar.david-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.david-hide-medium{display:none!important}}
@media (max-width:992px){.david-sidebar.david-collapse{display:none}.david-main{margin-left:0!important;margin-right:0!important}.w3-auto{max-width:100%}}
.david-top,.w3-bottom{position:fixed;width:100%;z-index:1}.david-top{top:0}.david-bottom{bottom:0}
.david-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.david-display-topleft{position:absolute;left:0;top:0}.david-display-topright{position:absolute;right:0;top:0}
.david-display-bottomleft{position:absolute;left:0;bottom:0}.david-display-bottomright{position:absolute;right:0;bottom:0}
.david-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.david-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.david-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.david-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.david-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.david-display-container:hover .david-display-hover{display:block}.david-display-container:hover span.david-display-hover{display:inline-block}.w3-display-hover{display:none}
.david-display-position{position:absolute}
.david-circle{border-radius:50%}
.david-round-small{border-radius:2px}.david-round,.david-round-medium{border-radius:4px}.david-round-large{border-radius:8px}.w3-round-xlarge{border-radius:16px}.w3-round-xxlarge{border-radius:32px}
.david-row-padding,.david-row-padding>.david-half,.david-row-padding>.david-third,.david-row-padding>.david-twothird,.david-row-padding>.w3-threequarter,.w3-row-padding>.w3-quarter,.w3-row-padding>.w3-col{padding:0 8px}
.david-container,.david-panel{padding:0.01em 16px}.david-panel{margin-top:16px;margin-bottom:16px}
.david-code,.david-codespan{font-family:Consolas,"courier new";font-size:16px}
.david-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.david-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.david-card,.david-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.david-card-4,.david-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.david-spin{animation:david-spin 2s infinite linear}@keyframes david-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.david-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.david-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.david-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.david-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.david-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.david-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.david-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.david-animate-input{transition:width 0.4s ease-in-out}.david-animate-input:focus{width:100%!important}
.david-opacity,.david-hover-opacity:hover{opacity:0.60}.david-opacity-off,.david-hover-opacity-off:hover{opacity:1}
.david-opacity-max{opacity:0.25}.david-opacity-min{opacity:0.75}
.david-greyscale-max,.david-grayscale-max,.david-hover-greyscale:hover,.david-hover-grayscale:hover{filter:grayscale(100%)}
.david-greyscale,.david-grayscale{filter:grayscale(75%)}.david-greyscale-min,.david-grayscale-min{filter:grayscale(50%)}
.david-sepia{filter:sepia(75%)}.w3-sepia-max,.david-hover-sepia:hover{filter:sepia(100%)}.david-sepia-min{filter:sepia(50%)}
.david-tiny{font-size:10px!important}.david-small{font-size:12px!important}.david-medium{font-size:15px!important}.david-large{font-size:18px!important}
.david-xlarge{font-size:24px!important}.david-xxlarge{font-size:36px!important}.david-xxxlarge{font-size:48px!important}.w3-jumbo{font-size:64px!important}
.david-left-align{text-align:left!important}.david-right-align{text-align:right!important}.david-justify{text-align:justify!important}.w3-center{text-align:center!important}
.david-border-0{border:0!important}.david-border{border:1px solid #ccc!important}
.david-border-top{border-top:1px solid #ccc!important}.david-border-bottom{border-bottom:1px solid #ccc!important}
.david-border-left{border-left:1px solid #ccc!important}.david-border-right{border-right:1px solid #ccc!important}
.david-topbar{border-top:6px solid #ccc!important}.david-bottombar{border-bottom:6px solid #ccc!important}
.david-leftbar{border-left:6px solid #ccc!important}.david-rightbar{border-right:6px solid #ccc!important}
.david-section,.david-code{margin-top:16px!important;margin-bottom:16px!important}
.david-margin{margin:16px!important}.david-margin-top{margin-top:16px!important}.david-margin-bottom{margin-bottom:16px!important}
.david-margin-left{margin-left:16px!important}.david-margin-right{margin-right:16px!important}
.david-padding-small{padding:4px 8px!important}.david-padding{padding:8px 16px!important}.david-padding-large{padding:12px 24px!important}
.david-padding-16{padding-top:16px!important;padding-bottom:16px!important}.david-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.david-padding-32{padding-top:32px!important;padding-bottom:32px!important}.david-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.david-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.david-left{float:left!important}.david-right{float:right!important}
.david-button:hover{color:#000!important;background-color:#ccc!important}
.david-transparent,.david-hover-none:hover{background-color:transparent!important}
.david-hover-none:hover{box-shadow:none!important}
/* Colors */
.david-amber,.david-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.david-aqua,.david-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.david-blue,.david-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.david-light-blue,.david-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.david-brown,.david-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.david-cyan,.david-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.david-blue-grey,.david-hover-blue-grey:hover,.david-blue-gray,.david-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.david-green,.david-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.david-light-green,.w3-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.david-indigo,.david-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.david-khaki,.david-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.david-lime,.david-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.david-orange,.david-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.david-deep-orange,.david-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.david-pink,.david-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.david-purple,.david-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.david-deep-purple,.david-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.david-red,.david-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.david-sand,.david-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.david-teal,.david-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.david-yellow,.david-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.david-white,.david-hover-white:hover{color:#000!important;background-color:#fff!important}
.david-black,.david-hover-black:hover{color:#fff!important;background-color:#000!important}
.david-grey,.david-hover-grey:hover,.david-gray,.david-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.david-light-grey,.david-hover-light-grey:hover,.david-light-gray,.david-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.david-dark-grey,.david-hover-dark-grey:hover,.david-dark-gray,.david-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.david-pale-red,.david-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.david-pale-green,.david-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.david-pale-yellow,.david-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.david-pale-blue,.david-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.david-text-amber,.david-hover-text-amber:hover{color:#ffc107!important}
.david-text-aqua,.david-hover-text-aqua:hover{color:#00ffff!important}
.david-text-blue,.david-hover-text-blue:hover{color:#2196F3!important}
.david-text-light-blue,.david-hover-text-light-blue:hover{color:#87CEEB!important}
.david-text-brown,.w3-hover-text-brown:hover{color:#795548!important}
.david-text-cyan,.david-hover-text-cyan:hover{color:#00bcd4!important}
.david-text-blue-grey,.david-hover-text-blue-grey:hover,.david-text-blue-gray,.david-hover-text-blue-gray:hover{color:#607d8b!important}
.david-text-green,.w3-hover-text-green:hover{color:#4CAF50!important}
.david-text-light-green,.david-hover-text-light-green:hover{color:#8bc34a!important}
.david-text-indigo,.david-hover-text-indigo:hover{color:#3f51b5!important}
.david-text-khaki,.david-hover-text-khaki:hover{color:#b4aa50!important}
.david-text-lime,.david-hover-text-lime:hover{color:#cddc39!important}
.david-text-orange,.david-hover-text-orange:hover{color:#ff9800!important}
.david-text-deep-orange,.david-hover-text-deep-orange:hover{color:#ff5722!important}
.david-text-pink,.david-hover-text-pink:hover{color:#e91e63!important}
.david-text-purple,.david-hover-text-purple:hover{color:#9c27b0!important}
.david-text-deep-purple,.david-hover-text-deep-purple:hover{color:#673ab7!important}
.david-text-red,.david-hover-text-red:hover{color:#f44336!important}
.david-text-sand,.david-hover-text-sand:hover{color:#fdf5e6!important}
.david-text-teal,.david-hover-text-teal:hover{color:#009688!important}
.david-text-yellow,.david-hover-text-yellow:hover{color:#d2be0e!important}
.david-text-white,.david-hover-text-white:hover{color:#fff!important}
.david-text-black,.david-hover-text-black:hover{color:#000!important}
.david-text-grey,.david-hover-text-grey:hover,.david-text-gray,.david-hover-text-gray:hover{color:#757575!important}
.david-text-light-grey,.david-hover-text-light-grey:hover,.david-text-light-gray,.david-hover-text-light-gray:hover{color:#f1f1f1!important}
.david-text-dark-grey,.david-hover-text-dark-grey:hover,.david-text-dark-gray,.david-hover-text-dark-gray:hover{color:#3a3a3a!important}
.david-border-amber,.david-hover-border-amber:hover{border-color:#ffc107!important}
.david-border-aqua,.david-hover-border-aqua:hover{border-color:#00ffff!important}
.david-border-blue,.david-hover-border-blue:hover{border-color:#2196F3!important}
.david-border-brown,.david-hover-border-brown:hover{border-color:#795548!important}
.david-border-cyan,.david-hover-border-cyan:hover{border-color:#00bcd4!important}
.david-border-blue-grey,.david-hover-border-blue-grey:hover,.david-border-blue-gray,.david-hover-border-blue-gray:hover{border-color:#607d8b!important}
.david-border-green,.david-hover-border-green:hover{border-color:#4CAF50!important}
.david-border-light-green,.david-hover-border-light-green:hover{border-color:#8bc34a!important}
.david-border-indigo,.david-hover-border-indigo:hover{border-color:#3f51b5!important}
.david-border-khaki,.david-hover-border-khaki:hover{border-color:#f0e68c!important}
.david-border-lime,.david-hover-border-lime:hover{border-color:#cddc39!important}
.david-border-orange,.david-hover-border-orange:hover{border-color:#ff9800!important}
.david-border-deep-orange,.david-hover-border-deep-orange:hover{border-color:#ff5722!important}
.david-border-pink,.david-hover-border-pink:hover{border-color:#e91e63!important}
.david-border-purple,.david-hover-border-purple:hover{border-color:#9c27b0!important}
.david-border-deep-purple,.david-hover-border-deep-purple:hover{border-color:#673ab7!important}
.david-border-red,.david-hover-border-red:hover{border-color:#f44336!important}
.david-border-sand,.david-hover-border-sand:hover{border-color:#fdf5e6!important}
.david-border-teal,.david-hover-border-teal:hover{border-color:#009688!important}
.david-border-yellow,.david-hover-border-yellow:hover{border-color:#ffeb3b!important}
.david-border-white,.david-hover-border-white:hover{border-color:#fff!important}
.david-border-black,.david-hover-border-black:hover{border-color:#000!important}
.david-border-grey,.david-hover-border-grey:hover,.david-border-gray,.david-hover-border-gray:hover{border-color:#9e9e9e!important}
.david-border-light-grey,.david-hover-border-light-grey:hover,.david-border-light-gray,.david-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.david-border-dark-grey,.david-hover-border-dark-grey:hover,.david-border-dark-gray,.w3-hover-border-dark-gray:hover{border-color:#616161!important}
.david-border-pale-red,.david-hover-border-pale-red:hover{border-color:#ffe7e7!important}.david-border-pale-green,.david-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.david-border-pale-yellow,.david-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.david-border-pale-blue,.david-hover-border-pale-blue:hover{border-color:#e7ffff!important}