/* Colors */
.david-amber,.david-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.david-aqua,.david-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.david-blue,.david-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.david-light-blue,.david-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.david-brown,.david-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.david-cyan,.david-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.david-blue-grey,.david-hover-blue-grey:hover,.david-blue-gray,.david-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.david-green,.david-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.david-light-green,.david-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.david-indigo,.david-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.david-khaki,.david-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.david-lime,.david-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.david-orange,.david-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.david-deep-orange,.david-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.david-pink,.david-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.david-purple,.david-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.david-deep-purple,.david-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.david-red,.david-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.david-sand,.david-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.david-teal,.david-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.david-yellow,.david-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.david-white,.david-hover-white:hover{color:#000!important;background-color:#fff!important}
.david-black,.david-hover-black:hover{color:#fff!important;background-color:#000!important}
.david-grey,.david-hover-grey:hover,.david-gray,.david-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.david-light-grey,.david-hover-light-grey:hover,.david-light-gray,.david-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.david-dark-grey,.david-hover-dark-grey:hover,.david-dark-gray,.david-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.david-pale-red,.david-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.david-pale-green,.david-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.david-pale-yellow,.david-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.david-pale-blue,.david-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.david-text-amber,.david-hover-text-amber:hover{color:#ffc107!important}
.david-text-aqua,.david-hover-text-aqua:hover{color:#00ffff!important}
.david-text-blue,.david-hover-text-blue:hover{color:#2196F3!important}
.david-text-light-blue,.david-hover-text-light-blue:hover{color:#87CEEB!important}
.david-text-brown,.david-hover-text-brown:hover{color:#795548!important}
.david-text-cyan,.david-hover-text-cyan:hover{color:#00bcd4!important}
.david-text-blue-grey,.w3-hover-text-blue-grey:hover,.david-text-blue-gray,.david-hover-text-blue-gray:hover{color:#607d8b!important}
.david-text-green,.david-hover-text-green:hover{color:#4CAF50!important}
.david-text-light-green,.david-hover-text-light-green:hover{color:#8bc34a!important}
.david-text-indigo,.david-hover-text-indigo:hover{color:#3f51b5!important}
.david-text-khaki,.david-hover-text-khaki:hover{color:#b4aa50!important}
.david-text-lime,.david-hover-text-lime:hover{color:#cddc39!important}
.david-text-orange,.david-hover-text-orange:hover{color:#ff9800!important}
.david-text-deep-orange,.david-hover-text-deep-orange:hover{color:#ff5722!important}
.david-text-pink,.david-hover-text-pink:hover{color:#e91e63!important}
.david-text-purple,.david-hover-text-purple:hover{color:#9c27b0!important}
.david-text-deep-purple,.w3-hover-text-deep-purple:hover{color:#673ab7!important}
.david-text-red,.david-hover-text-red:hover{color:#f44336!important}
.david-text-sand,.david-hover-text-sand:hover{color:#fdf5e6!important}
.david-text-teal,.david-hover-text-teal:hover{color:#009688!important}
.david-text-yellow,.david-hover-text-yellow:hover{color:#d2be0e!important}
.david-text-white,.david-hover-text-white:hover{color:#fff!important}
.david-text-black,.david-hover-text-black:hover{color:#000!important}
.david-text-grey,.david-hover-text-grey:hover,.david-text-gray,.david-hover-text-gray:hover{color:#757575!important}
.david-text-light-grey,.david-hover-text-light-grey:hover,.david-text-light-gray,.david-hover-text-light-gray:hover{color:#f1f1f1!important}
.david-text-dark-grey,.david-hover-text-dark-grey:hover,.david-text-dark-gray,.w3-hover-text-dark-gray:hover{color:#3a3a3a!important}
.david-border-amber,.david-hover-border-amber:hover{border-color:#ffc107!important}
.david-border-aqua,.david-hover-border-aqua:hover{border-color:#00ffff!important}
.david-border-blue,.david-hover-border-blue:hover{border-color:#2196F3!important}
.david-border-light-blue,.david-hover-border-light-blue:hover{border-color:#87CEEB!important}
.david-border-brown,.david-hover-border-brown:hover{border-color:#795548!important}
.david-border-cyan,.david-hover-border-cyan:hover{border-color:#00bcd4!important}
.david-border-blue-grey,.david-hover-border-blue-grey:hover,.david-border-blue-gray,.w3-hover-border-blue-gray:hover{border-color:#607d8b!important}
.david-border-green,.david-hover-border-green:hover{border-color:#4CAF50!important}
.david-border-light-green,.david-hover-border-light-green:hover{border-color:#8bc34a!important}
.david-border-indigo,.david-hover-border-indigo:hover{border-color:#3f51b5!important}
.david-border-khaki,.david-hover-border-khaki:hover{border-color:#f0e68c!important}
.david-border-lime,.david-hover-border-lime:hover{border-color:#cddc39!important}
.david-border-orange,.david-hover-border-orange:hover{border-color:#ff9800!important}
.david-border-deep-orange,.david-hover-border-deep-orange:hover{border-color:#ff5722!important}
.david-border-pink,.david-hover-border-pink:hover{border-color:#e91e63!important}
.david-border-purple,.david-hover-border-purple:hover{border-color:#9c27b0!important}
.david-border-deep-purple,.w3-hover-border-deep-purple:hover{border-color:#673ab7!important}
.david-border-red,.david-hover-border-red:hover{border-color:#f44336!important}
.david-border-sand,.david-hover-border-sand:hover{border-color:#fdf5e6!important}
.david-border-teal,.david-hover-border-teal:hover{border-color:#009688!important}
.david-border-yellow,.david-hover-border-yellow:hover{border-color:#ffeb3b!important}
.david-border-white,.david-hover-border-white:hover{border-color:#fff!important}
.david-border-black,.david-hover-border-black:hover{border-color:#000!important}
.david-border-grey,.david-hover-border-grey:hover,.david-border-gray,.david-hover-border-gray:hover{border-color:#9e9e9e!important}
.david-border-light-grey,.david-hover-border-light-grey:hover,.david-border-light-gray,.david-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.david-border-dark-grey,.david-hover-border-dark-grey:hover,.david-border-dark-gray,.david-hover-border-dark-gray:hover{border-color:#616161!important}
.david-border-pale-red,.david-hover-border-pale-red:hover{border-color:#ffe7e7!important}.david-border-pale-green,.david-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.david-border-pale-yellow,.david-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.w3-border-pale-blue,.davidhover-border-pale-blue:hover{border-color:#e7ffff!important}